/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 18, 2022, 10:22:47 AM
    Author     : brianj
*/
.root {
    -fx-background-color: -custom-background-color;
    -fx-focus-color:  -custom-focus-color;
    -fx-faint-focus-color: #039ED322;
}

.main-footer-container-hbox {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
}

.main-grid-container-vbox {
    -fx-font-size: 14px;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 10;
}

.main-header-label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
}

.elapsed-time-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-min-width: 225px;
    -fx-alignment: center;
}

.round-action-button {
    -fx-min-width: 38px;
    -fx-min-height: 38px;
    -fx-max-width: 38px;
    -fx-max-height: 38px;
}

.image-view {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

.finished-font-icon {
    -fx-icon-color: rgba(3,252,73,.99);
    -fx-icon-code: "far-check-circle";
    -fx-icon-size: 22px;
    -fx-cursor: hand;
}

.classify-font-icon {
    -fx-icon-color: rgba(255,255,255,.99);
    -fx-icon-code: "fas-restroom";
    -fx-icon-size: 22px;
    -fx-cursor: hand;
}

.train-font-icon {
    -fx-icon-color: rgba(255,255,255,.99);
    -fx-icon-code: "fas-book-open";
    -fx-icon-size: 22px;
    -fx-cursor: hand;
}






